includeConfig 'config/base.config'

params {
    // input
	// Input values are in nf script 
	
	// source python file
	software_dir = "/home/users/astar/gis/lizh/software"
	database = "/scratch/users/astar/gis/lizh/Projects/GERMS-16s/database"
	
    // output
	outdir = 'results_16s'
	publishdir = "${params.outdir}/results"
    infodir = "${params.outdir}/pipeline_info"
    // help
    help = null
}

trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

timeline {
    enabled = true
    file = "${params.infodir}/timeline.html"
}

dag {
    enabled = true
    file = "${params.infodir}/dag.pdf"
}

report {
	enabled = true
    file = "${params.infodir}/report.html"
}

executor {
   name = 'slurm'
   queueSize = 100
   pollInterval = '300 sec'
}

profiles {
	
	local {
		process.executor = 'local'
    }
    acrc {
        process.executor = 'slurm'
    }

}
